---
layout: default
title: Fischer Jemison's Homepage
---
<section class="alert">
    <p>This page is currently under construction. Some functionality may be incomplete or non-functional.</p>
</section>
<section class="page-section">
    <h2>Some Projects</h2>
    <div class="item-array">
        {% for project in site.projects %}
            <div class="project-card array-child">
                <a href="{{ project.url }}">
                    <h3>
                        {{ project.name }} <i class="fas fa-arrow-right"></i>
                    </h3>
                </a>
                <p>{{ project.short_description }}</p>
            </div>
        {% endfor %}
    </div>
</section>

<section class="page-section narrow box">
    <h2>About Me</h2>
    {% include about_me.html %}
</section>
