---
layout: default
title: Fischer Jemison's Homepage
---
<section class="page-section">
    {% assign posts = site.posts | where:"draft","false" %}
    {% assign num_posts = posts | size %}
    {% if num_posts > 0 %}
        <h2>Some recent blog posts</h2>
    {% endif %}
    {% assign top_three = posts | limit: 3 %}
    {% for post in top_three %}
        <div class="post-preview">
            <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
            <p class="subtext">{{ post.short_description }}</p>
        </div>
    {% endfor %}
    <h2>Some Projects</h2>
    <div class="item-array">
        {% for project in site.projects %}
        <div class="project-card array-child">
            <div>
                <a href="{{ project.url }}">
                    <h3>
                        {{ project.title }} <i class="fas fa-arrow-right"></i>
                    </h3>
                </a>
            </div>
            <div class="project-card-content">
                <p class="subtext">{{ project.short_description }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="page-section narrow">
    <h2>About Me</h2>
    {% include about_me.html %}
</section>
