$white: #fefefe;
$black: #0e0e0e;
$blue: #006eb7;
$purple: #476CCC;

$background: $white;
$text-color: $black;
$main-color: $purple;
$link-color: $main-color;

$font-stack: "Raleway", sans-serif;
$header-font-stack: $font-stack;
$base-font-size: 16px;

$header-height: 120px;
$page-element-spacing: 40px;
