$white: #fefefe;
$off-white: #f0f3f3;
$black: #0e0e0e;
$blue: #006eb7;
$purple: #476CCC;

$background: $white;
$secondary-bg: $off-white;
$text-color: $black;
$main-color: $purple;
$link-color: $main-color;

$font-stack: "Open Sans", sans-serif;
$header-font-stack: "Raleway", sans-serif;
$code-font-stack: "Roboto Mono", monospace;
$base-font-size: 16px;
$code-font-size: 14px;

$header-height: 120px;
$page-element-spacing: 40px;
