$white: #fefefe;
$off-white: #f0f3f3;
$black: #0e0e0e;
$blue: #043f7d;
$purple: #476CCC;
$green: #2F9274;
$light-green: #E4F8F9;
$light-red: #FFEFF3;
$dark-red: #FFB3C2;
$light-yellow: #fff9f0;

$background: $white;
$secondary-bg: $off-white;
$text-color: $black;
$main-color: $blue;
$secondary-color: $light-yellow;
$secondary-dark: $dark-red;
$link-color: $text-color;

@font-face {
  font-family: system;
  font-style: normal;
  font-weight: 300;
  src: local(".SFNSText-Light"), local(".HelveticaNeueDeskInterface-Light"), local(".LucidaGrandeUI"), local("Ubuntu Light"), local("Segoe UI Light"), local("Roboto-Light"), local("DroidSans"), local("Tahoma");
}

$font-stack: "Lato", sans-serif;
$header-font-stack: "Montserrat", sans-serif;
$code-font-stack: monospace;
$subtext-font-stack: $code-font-stack;
$base-font-size: 16px;
$code-font-size: 14px;

$header-height: 50px;
$page-element-spacing: 40px;
$footer-height: 120px;
