.box {
    border: 4px solid $main-color;
    box-shadow: 5px 8px 0px $main-color;
    padding: 20px 50px;
    @include flex-col;
    @include align-center;
}

@media screen and (max-width: 900px) {
    .box {
        padding: 10px;
        margin: 0px 30px;
    }
}
