figure.highlight, div.highlight {
    padding: 10px 10px;
    border-radius: 5px;
    overflow: auto;
}

code.highlighter-rouge {
    background-color: #fff;
    border-radius: 5px;
    padding: 2px 5px;
}
