.footer {
    @include flex-row;
    @include justify-center;
    @include align-center;
    .content {
        max-width: 500px;
    }
    margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
    .footer {
        max-width: auto;
        margin: 0px 20px;
    }
}
