.item-array {
    @include flex-row;
    @include justify-start;
    flex-wrap: wrap;
    .array-child {
        flex-basis: 250px;
        margin-right: 50px;
        margin-top: 10px;
    }
}

@media screen and (max-width: 900px) {
    .item-array {
        max-width:  600px;
        @include flex-col;
        @include align-start;
        .array-child {
            flex-basis: auto;
        }
    }
}
