.main-content {
    @include flex-col;
    @include align-center;
    .page-section {
        margin-bottom: $page-element-spacing;
        width: 900px;
        @include justify-start;
        img {
            max-width: 900px;
        }
    }
    .page-section.narrow {
        width: 600px;
    }
}
