.main-content {
    @include flex-col;
    @include align-center;
    .page-section {
        margin-bottom: $page-element-spacing;
        max-width: 300px;
        img {
            max-width: 900px;
        }
    }
    .project {
        width: 600px;
        img {
            max-width: 600px;
        }
    }
}

@media screen and (min-width: 700px) {
    .main-content .page-section {
        max-width: 900px;

        &.narrow {
            max-width: 600px;
        }
    }
}

@media screen and (max-width: 900px) {
    .main-content {
        .page-section {
            img {
                max-width: 100%;
            }
        }
    }
}

body {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 50px 1fr 110px;
}
