body {
  font-family: $font-stack;
  font-size: $base-font-size;
  color: $text-color;
}

a {
  color: $link-color;
  font-weight: 700;
  text-decoration: none;
}

a::before {
  content: "►";
  margin-right: 0.1rem;
  color: rgb(255, 123, 15);
  font-size: 0.8rem;
  position: relative;
  left: 0.1rem;
  bottom: 0.2rem;
}

h1, h2 {
  color: $main-color;
  font-family: $header-font-stack;
}

h3, h3 a {
  font-family: $header-font-stack;
  font-weight: 500;
}

h2 a {
  color: $main-color;
}

h1, h2 {
  font-weight: bold;
}

code {
  font-family: $code-font-stack;
  font-size: $code-font-size;
}

.subtext {
  font-family: $subtext-font-stack;
  font-size: .9em;
}
